@tailwind base;
@tailwind components;
@tailwind utilities;


.marquee {
    display: flex;
    animation: marquee-animation 10s linear infinite;
  }
  
  @keyframes marquee-animation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  
  